/* ----------------------------------- */
/*          CUSTOM PROPERTIES          */
/* ------------------------------------*/

:root {
    --clr-dark: 244 23% 12%;
    /*#191826*/
    --clr-light: 20 33% 99%;
    /*#FCFAF9 */
    --clr-turq: 177 68% 64%;
    /*#66E2DC */
    --clr-orange: 12 94% 65%;
    /*#FA7453*/
    --clr-cream: 33 100% 70%;
    /*#FFB964*/

    /* font-families */
    --ff-ibm: "IBM Plex Sans", sans-serif;

    /* font-sizes */
    --fs-1000: 9.375rem;
    --fs-900: 5.5rem;
    --fs-800: 4.0625rem;
    --fs-700: 2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* font-weights */
    --wt-bold: 700;
    --wt-semi-bold: 500;
    --wt-normal: 400;
    --wt-light: 300;

}

/* ----------------------------------- */
/*                 RESET               */
/* ------------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul,
ol elements with a list role,
which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--ff-ibm);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ----------------------------------- */
/*          UTILITY CLASSES            */
/* ------------------------------------*/

.grid {
    display: grid;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
}

.container {
    max-width: 66.375rem;
    padding-inline: 1.5rem;
    padding-block: 2.5rem;
    margin-inline: auto;
}

/* colors */
.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-light {
    background-color: hsl(var(--clr-light));
}

.bg-turq {
    background-color: hsl(var(--clr-turq));
}

.bg-cream {
    background-color: hsl(var(--clr-cream));
}

.bg-orange {
    background-color: hsl(var(--clr-orange));
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-light {
    color: hsl(var(--clr-light));
}

.bd-radius {
    border-radius: 10px;
}

/* topography */

.ff-ibm {
    font-family: var(--ff-ibm)
}

.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}

.line-height-1 {
    line-height: 1;
}

.uppercase {
    text-transform: uppercase;
}

.fs-900 {
    font-size: var(--fs-900);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1;
}

.wt-light {
    font-weight: var(--wt-light);
}

.wt-normal {
    font-weight: var(--wt-normal);
}

.wt-semi-bold {
    font-weight: var(--wt-semi-bold);
}

.wt-bold {
    font-weight: var(--wt-bold);
}

/* ------------------- */
/* Components          */
/* ------------------- */

.btn {
    /* margin-left: 3rem; 
    aspect-ratio: 2/1; */
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
    text-decoration: none;
    justify-content: center;
    outline: none;
}

.link-btn:hover>img,
.link-btn:focus>img {
    filter: invert(56%) sepia(54%) saturate(2890%) brightness(108%) contrast(96%);
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: 0.25em;
}


.social-sites {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.main-heading {
    margin-top: 3.25rem;
    margin-bottom: 1.5rem;
}

.main-content-holder {
    padding-inline: 2.25rem;
}

.kicker {
    padding-block: 1rem;
}

.btn:first-child:hover,
.btn:first-child:focus {
    background-color: hsl(var(--clr-turq));
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: 0.25em;
}

.btn:last-child:hover,
.btn:last-child:focus {
    background-color: hsl(var(--clr-cream));
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: 0.25em;
}

.btn-logo:hover,
.btn-logo:focus {
    cursor: pointer;
    outline: dashed currentColor;
    outline-offset: 0.25em;
}

.footer-text {
    padding-block: 2.5rem;
}

.footer-text-small {
    /* display: block; */
}

/* ------------------- */
/* Layouts             */
/* ------------------- */
.wrapper {
    position: relative;
    overflow-x: hidden;
}

.wrapper::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    background-image: url("./assets/bg-main-mobile.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0deg);
    top: -10%;
    right: -20%;
    z-index: -1;
}

.main {
    margin-top: 8.75rem;
}

.decorative {
    background-image: url("./assets/bg-pattern-2.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top center;
    padding-block: 0;
    padding-inline: 0;
}

.image-holder {
    max-width: 19.5rem;
    width: 55%;
    position: relative;
    top: -8.5rem;
    margin: auto;
}

.decorative-img {
    margin: auto;
}

.main-content {
    margin-top: 0;
    max-width: 25rem;
    margin-inline: auto;
}


.footer-container {
    padding-block: 5.5rem;
}

/* ----------------------- */
/* MEDIA QUERIES           */
/* ----------------------- */

@media screen and (min-width: 36.25rem) {

    .fs-300 {
        font-size: var(--fs-400);
    }

    .fs-700 {
        font-size: var(--fs-800);
    }

    .container {
        padding-inline: 2.5rem;
    }

    .wrapper::before {
        background-position: top left;
        transform: rotate(100deg);
        top: -10%;
        right: 20%;
    }

    .wrapper::after {
        position: absolute;
        content: "";
        width: 40%;
        min-height: 100vh;
        background-image: url("./assets/bg-pattern-1.svg");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(0deg);
        top: -2.5%;
        right: -4%;
        z-index: -1;
    }


    .header-content {
        max-width: 66%;
    }

    .decorative {
        position: relative;
        /* margin-inline: 2rem; */
        max-width: 66.375rem;
    }

    .image-holder {
        margin-inline-start: 1.5rem;
        width: 43%;
    }

    .main {
        margin-top: 14.75rem;
        max-width: 66.375rem;
        padding-inline: 2rem;
        margin-inline: auto;
    }

    .main-content {
        position: absolute;
        top: 27%;
        left: 34%;
        width: 60%;
    }

    .main-content-holder>p {
        margin-block-start: 1.2rem;
    }

    .main-heading {
        margin-top: 6.25rem;
        margin-block-end: 2rem;
    }

    .heading-content {
        font-size: var(--fs-400);
    }

    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer {
        padding-block-start: 7rem;
    }

    .footer-content {
        flex: 1 1 50%;
    }

    .socials {
        flex: 1 1 30%;
    }

    .social-sites {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 67.5rem) {

    .fs-700 {
        font-size: var(--fs-900);
    }

    .fs-600 {
        font-size: var(--fs-700);
    }

    .header {
        padding-block-start: 3.5rem;
    }

    .main-heading {
        margin-top: 7.5rem;
    }

    .header-content {
        max-width: 88%;
    }

    .kicker {
        padding-block-start: 1rem;
        padding-block-end: 2.5rem;
    }

    .main-content {
        top: 23%;
        left: 57%;
        width: 38%;
    }

    .main-content-holder>p {
        line-height: 1.9;
    }

    .wrapper::before {
        top: 10%;
        right: 35%;
    }

    .wrapper::after {
        min-height: 65vh;
        top: -2%;
        right: 0%;
    }

    .footer-content {
        display: flex;
        align-items: baseline;
        flex: 1 1 80%;
        gap: 5rem;
    }

    .socials {
        flex: 1 1 20%;
    }
}